In [72]:
# MACHINE LEARNING

# PARAMETRIC TEST : FOLLOWS THE NORMAL DISTRIBUTION, FIXED SET OF PARAMETERS(WEIGHT OF COEFFICIENT)
# LINEAR REG, LOGISTIC REG

# NON PARAMETRIC TEST : DISTRIBUTION FREE TEST, FLEXIBLE SET OF PARAMETER

# KNN IS SUB CATEGORY OF NON PARAMETRIC TEST (INSTANCE BASED LEARNING OR MEMORY BASED LEARNING)
# KNN, K MEANS CLUSTERING, SVM (PLOY)

# KNN IS ALSO KNOWN AS LAZY LEARNER

In [ ]:
# STEPS FOR KNN

# I. LOAD THE DATASET

# II. PARTITION OF DATASET INTO TRAINING & TESTING 70-30,60-40,80-20 (LARGEST PART WILL BE TRAINING PART AND SMALLEST IS TESTING)

# III. SELECT K 

# IV. ONE HOT ENCODING OR LABELENCODER: TO CONVERT CATEGORIES(STR) INTO NUMBER 

# V. STANDARDISATION : 0 MEAN , 1 VARIANCE
# TO SCALE UP THE VALUES

# APPLY KNN ALGORITHM

# CLASSIFICATION

# CONFUSION MATRIX : WILL EXPLAIN THE ACTUAL AND PREDICTION RESULT

# TRUE POSITIVE
# TRUE NEGATIVE
# FALSE POSITIVE
# FALSE NEGATIVE

# PRECISION : TP/TP+FP

# RECALL : TP/TP+FN

# F1- SCORE : PRECISION*RECALL/2+PRECISION+RECALL

In [3]:
import numpy as np
import pandas as pd
import sklearn
import warnings
warnings.filterwarnings("ignore")

In [4]:
iris_data = pd.read_csv(r"D:\Works-Stuffs\Misc\Datasets\iris.csv")

FileNotFoundError: [Errno 2] File b'D:\\Works-Stuffs\\Misc\\Datasets\\iris.csv' does not exist: b'D:\\Works-Stuffs\\Misc\\Datasets\\iris.csv'

In [74]:
# TO GET THE DESCRIPTION OF THE DATASET

iris_data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
iris_data.info()

In [75]:
iris_data = iris_data.drop(["Id"],axis = 1)

# axis = 1 for column
# axis = 0 for row

In [76]:
iris_data.isnull().any()

SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [77]:
iris_data.shape

(150, 5)

In [2]:
# EXTRACTION OF SPECIES FROM DATASET

iris_obj = iris_data[["Species"]]

NameError: name 'iris_data' is not defined

In [79]:
iris_data["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [1]:
iris_encoding = iris_obj.fillna({'Iris-setosa' : 0,'Iris-versicolor': 1,'Iris-virginica' :2 })

NameError: name 'iris_obj' is not defined

In [81]:
iris_replace = {"Species" : {'Iris-setosa' : 0,'Iris-versicolor': 1,'Iris-virginica' :2 }}

In [82]:
iris_obj.replace(iris_replace, inplace = True)
print(iris_obj)

     Species
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
..       ...
120        2
121        2
122        2
123        2
124        2
125        2
126        2
127        2
128        2
129        2
130        2
131        2
132        2
133        2
134        2
135        2
136        2
137        2
138        2
139        2
140        2
141        2
142        2
143        2
144        2
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5821: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

In [83]:
# AGAIN ADD/ PUT IT INSIDE DATASET

iris_data["Species"] = iris_obj

In [84]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [85]:
iris_data.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [86]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [87]:
X = iris_data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris_data[["Species"]]

In [88]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [89]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [90]:
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [95]:
y_pred = classifier.predict(X_test)

In [94]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [98]:
result = confusion_matrix(y_test,y_pred)
result1 = classification_report(y_test,y_pred)
print(result)
print(result1)

[[13  0  0]
 [ 0 14  0]
 [ 0  3 15]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       0.82      1.00      0.90        14
           2       1.00      0.83      0.91        18

   micro avg       0.93      0.93      0.93        45
   macro avg       0.94      0.94      0.94        45
weighted avg       0.95      0.93      0.93        45